.ipynb_checkpoints/
__pycache__/
*.swp
.env
.pylintrc
.idea
projects/chargpt/.ipynb_checkpoints/
projects/chargpt/out/
projects/chargpt/wandb/
projects/adder/out/
.venv
.DS_Store
minGPT.egg-info/
.pytest_cache